[submodule "superpowers"]
	path = superpowers
	url = https://github.com/obra/superpowers.git
[submodule "planning-with-files"]
	path = planning-with-files
	url = https://github.com/OthmanAdi/planning-with-files.git
[submodule "anthropics-skills"]
	path = anthropics-skills
	url = https://github.com/anthropics/skills
